.cartIcon{
    color: #ddd;
    font-size: 40px;
}

.cartContainer:hover{
    cursor: pointer;
    filter:drop-shadow(0px 0px 5px #fff)
    
}

.cartNumber{
    padding-top: 7px;
    color:#ddd;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.cartContainer{
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;

}