.divContainer {
    width: 250px;
    height: 200px;
    padding: 50px;
    margin: 30px;
    font-size: 15px;
    background-color: papayawhip;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header {
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Precio {
    font-size: 20px;
    color: tomato;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.Detalle {
    width: auto;
    padding: 20px;
    font-size: 15px;
    background: forestgreen;
    border-radius: 5px;
    font-weight: 900;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: bisque;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}
.Detalle:hover{
    background: rgb(148, 255, 148);
    color: rgb(104, 83, 57);
}

.ItemImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
}